        <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h2 hx-get="/test" hx-swap="innerHTML">{{message}}</h2>            
            <div>
                <!--img src="path_to_profile_image.jpg" alt="Profile Image" width="50"-->
                <span>Alex Gomez</span>                
                <div class="MenuItem">Organizational View</div>
                <div class="MenuItem">Champion's Friday</div>
                <div class="MenuItem">Consultant's Deeds</div>
            </div>
        </div>
        
        <!-- Main Content -->
        <div class="main-content">
            Screen Name
            <div class="widget">
                <!-- Total Sales Widget -->
                <h2>Organizational Information</h2>
                <p>300 employees</p>
            </div>
            <div class="widget">
                
                <h2>Digital Product Practices</h2>
                <ul>
                    <li>.Net</li>
                    <li>Java</li>
                    <li>Mobile</li>
                    <li>Web GUI</li>
                </ul>
                <!-- Add graph or other content here -->
            </div>
            <!-- Add more widgets or content as needed -->
        </div>
    </div>
