<div class="container">
        <div class="sidebar">
            <h2 hx-get="/test" hx-swap="innerHTML">{{message}}</h2>   
            <div>
                <!--img src="path_to_profile_image.jpg" alt="Profile Image" width="50"-->
                <span>Alex Gomez</span>
                 <div id="sidebarMenu" class="sidebarMenu">
                    {{#each sidebarMenuOptions}}              
                        <div class="MenuItem">
                            <a href="{{route}}">{{label}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div id="main-content" class="main-content">
            <div class="widget">
                <div>You are seeing:{{currentQuarter}} </div>
                <md-filled-button hx-get="/foc/register_champion" hx-target="body" hx-swap="outerHTML">Register Champion's Badges</md-filled-button>
                
               {{> champions_leaderboard leaderBoard}}
            </div>
        </div>
    </div>